@use "@/sass/abstracts" as *;
@use "sass:color";

.formContainer {
  max-width: 600px;
  margin: $margin-2xl $margin-auto;
  padding: $padding-xl;
  background-color: $background-light;
  border: 1px solid color.adjust($primary-color, $lightness: 25%);
  border-radius: $border-radius-lg;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
