{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:next/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "next", "typescript"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "next/no-page-custom-font": "off"
  }
}
