@use "@/sass/abstracts" as *;

.label {
  font-size: $font-sm;
  color: $primary-color;
  margin-bottom: $margin-xs;
  font-weight: 500;
}

.profile-label {
  @extend .label;
  margin-bottom: $margin-md;
}
