@use "@/sass/abstracts" as *;

.input {
  width: 100%;
  padding: $padding-md $padding-md $padding-sm $padding-md;
  border: none;
  border-radius: $border-radius-sm $border-radius-sm 0 0;
  background: #fff;
  font-size: $font-md;
  box-shadow: 0 2px 0 0 $primary-color;
  outline: none;
  transition: box-shadow 0.2s, background 0.2s;
  margin-bottom: $margin-md;

  &:focus {
    box-shadow: 0 2px 0 0 $accent-color;
    background: $input-background-color;
  }
}

.profile-input {
  @extend .input;
}
